<h1>Art Gallery</h1>
<div *ngIf="items.length>0">
  <div class="main" *ngFor="let item of items">
    <div class="border">
      <div class="picture"><img [ngClass]="styles" [src]="item.path" (click)="toggle()"/></div>
      <div>Название картины: {{item.title | uppercase}}</div>
      <div>Год создания: {{item.year}}</div>
      <div>Автор картины: {{item.artist}}</div>
      <div>Размеры: {{item.size}}</div>
      <div>Местоположение: {{item.place}}</div>
    </div>
  </div>
</div>



<!-- <div class="card-group">
  <div class="card">
    <img src="../../assets/images/The Old Guitarist.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/images/800px-1903_Old_blind_man_with_boy.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div> -->