<h1>Art Gallery</h1>

<!-- <div *ngIf="pictures.length>0"> -->
    <div>
        <!-- <div><img [src]="pictures.path" (click)="toggle()"/></div> -->
        <div><img [src]="this.picture.path"/></div>
        <div>Название картины: {{this.picture.title | uppercase}}</div>
        <div>Год создания: {{this.picture.year}}</div>
        <div>Автор картины: {{this.picture.artist}}</div>
        <div>Размеры: {{this.picture.size}}</div>
        <div>Местоположение: {{this.picture.place}}</div>
      </div>
<!-- </div> -->